
<head>

    <link rel="stylesheet" href="/stylesheets/admin/login.css">
</head>
     <div class="login hide-login">
        <form class="login-container hide-form" method="POST" action="login">
           <img src="../images/SafeNet Logo no bgroun;t.png" alt="" />
           <div class="input-container hide-section">
              <p><input type="text" placeholder="username" name="username" /></p>
              <p><input type="password" placeholder="Password" name="password" /></p>
              <p><input type="submit" value="Log in" /></p>
           </div>
        </form>
     </div>
        <script>
        const section = document.querySelector(".hide-section");
            const formContainer = document.querySelector(".login-container");
            const loginContainer = document.querySelector(".login");
            const profile = document.querySelector("img");


            profile.onclick = () => {
               requestAnimationFrame(() => {
                  loginContainer.classList.remove("hide-login");
                  formContainer.classList.remove("hide-form");

                  setTimeout(() => {
                     section.classList.remove("hide-section");
                  }, 1000);
               });
            };
     </script>