
<head>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

    <div class="nav">
        <div>
            <img src="/images/SafeNet.png" alt="logo" class="logo">
        </div>

        <a href="/login">      
            <div class="logout">
                <img src="/icons/logout.png" alt="logout" class="logout-icon">
                <p class="logout-text">logout</p>
            </div>
        </div>
        </a>

        <a href="/login">
        <div class="logout">
            <img src="/icons/logout.png" alt="logout" class="logout-icon">
            <p class="logout-text">logout</p>
        </div>
        </a>
    </div>


    <div class="main">

        <a href="volunteer">
        <div class="items">
            <div class="icon-box">
                <img src="/icons/volunteer.png" alt="volunteer" class="icon">
            </div>
            <div class="icon-text">
                <p>Volunteer Verification</p>
            </div>
        </div>
        </a>

        <a href="organization">
        <div class="items">
            <div class="icon-box">
                <img src="/icons/organization.png" alt="volunteer" class="icon">
            </div>
            <div class="icon-text">
                <p>Organization Verification</p>
            </div>
        </div>
        </a>

        <a href="disasterlist">
        <div class="items">
            <div class="icon-box">
                <img src="/icons/disaster.png" alt="volunteer" class="icon">
            </div>
            <div class="icon-text">
                <p>Disaster Verification</p>
            </div>
        </div>
         </a>

         <a href="call_volunteer">
        <div class="items">
            <div class="icon-box">
                <img src="/icons/volunteer-1.png" alt="volunteer" class="icon">
            </div>
            <div class="icon-text">
                <p>Call for Volunteers</p>
            </div>
        </div>
        </a>

        <a href="call_vehicle">
        <div class="items">
            <div class="icon-box">
                <img src="/icons/car.png" alt="volunteer" class="icon">
            </div>
            <div class="icon-text">
                <p>Call for Vehicle</p>
            </div>
        </div>
        </a>

        <a href="shelter">
        <div class="items">
            <div class="icon-box">
                <img src="/icons/shelter.png" alt="volunteer" class="icon">
             </div>
            <div class="icon-text">
                <p>Temeporary Shelter</p>
            </div>
        </div>
        </a>

        <a href="requirements">
        <div class="items">
            <div class="icon-box">
                <img src="/icons/shopping-bag.png" alt="volunteer" class="icon">
            </div>
            <div class="icon-text">
                <p>Requirement Items</p>
            </div>
        </div>
        </a>
    </div>
