
<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="box">
    <div class="left-pannel">
        <img src="/images/SafeNet Logo no bg.png" alt="logo">
        <h1 class="explore">Explore SafeNet</h1>
        <p class="para">Your all-in-one tool for disaster <br> preparedness and response.</p>
    </div>
    <div class="right-pannel">
        <div class="contant">

        <form action="/login" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
            </div>
            <div class="mb-3">
                 <label for="inputPassword5" class="form-label">Password</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="pass">
                <div id="passwordHelpBlock" class="form-text">
                </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-success" >Submit</button>
                    </div>
                </div>

        </form>
    </div>
    </div>
   
