<head>
    <link rel="stylesheet" href="/stylesheets/authority/style1.css">
    <link rel="stylesheet" href="/stylesheets/authority/style2.css">
</head>

<body>
    <a href="/home">     
        <div class="nav">
            <div class="back">
                <img src="assets/icons/back-button.png" alt="logout" class="back-icon">
            </div>
            <div>
                <img src="/images/SafeNet Logo no bg.png" alt="logo" class="logo">
            </div>
        </div>
    </a>
    <div class="nav">
        <a href="/home">
        <div class="back">
            <img src="/icons/back-button.png" alt="logout" class="back-icon">
        </div>
        </a>
        <div>
            <img src="/images/SafeNet.png" alt="logo" class="logo">
        </div>
    </div>
    <div class="main">
        <h1 class="title">Volunteer Verification</h1>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Blood Group</th>
                <th>Location</th>
                <th>Category</th>
                <th>Certificate</th>
                <th></th>       
            </tr>
            <tr>
                <td>Aghosh Mohan T</td>
                <td>aghoshmohant@gmail.com</td>
                <td>8590650812</td>
                <td>B+</td>
                <td>Fire</td>
                <td></td>
                <td><img src="" alt="not found"></td>
                <td>
                    <button class="approve-btn">Approve</button>
                    <button class="reject-btn">Reject</button>
                </td>
            </tr>
            <tr>
                <td>Aghosh Mohan T</td>
                <td>aghoshmohant@gmail.com</td>
                <td>8590650812</td>
                <td>B+</td>
                <td>Nanminda</td>
                <td>Fire</td>
                <td></td>
                <td>
                    <button class="approve-btn">Approve</button>
                    <button class="reject-btn">Reject</button>
                </td>
            </tr>
        </table>
    </div>
</body>