 <head>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>


<body>
    <div class="box">
            <div class="left-pannel">
                <img src="/images/SafeNet Logo no bg.png" alt="logo">
                <h1 class="explore">Explore SafeNet</h1>
                <p class="para">Your all-in-one tool for disaster <br> preparedness and response.</p>
            </div>

            <div class="right-pannel">
                <form class="form" action="/register" method="post" >
                    <div class="mb-3">
                        <fieldset>
                                <legend>Personal information</legend>
                                <br>
                                <label for="name" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="name" name="name" >
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="mail" name="mail" >
                            </div>
                            <div class="mb-3">
                                <label for="number" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" id="number" name="no">
                            </div>
                                <br><br>
                        </fieldset>
                <div class="mb-3">
                    <filedset>
                        <legend>Employee Deatis</legend>
                        <br>
                        <div class="mb-3">
                            <label for="designation" class="form-label">Designation</label>
                            <input type="text" class="form-control" id="designation" name="designation" >
                        </div>
                        <div class="mb-3">
                            <label for="department" class="form-label">Department</label>
                            <input type="text" class="form-control" id="department" name="dep">
                        </div>
                        <div class="mb-3">
                            <label for="em_id" class="form-label">Employee ID</label>
                            <input type="text" class="form-control" id="em_id" name="eid">
                        </div>
                        <div class="mb-3">
                            <label for="district" class="form-label">District</label>
                            <input type="text" class="form-control" id="district" name="dis">
                        </div>
                        <div class="mb-3">
                            <label for="office_address" class="form-label">office Address</label>
                            <textarea class="form-control" id="office_address" rows="3" name="oadd"></textarea>
                          </div>
                    </filedset>
                </div>
                <br><br>
                <div class="mb-3">
                   <fieldset>
                        <legend>Verification</legend>
                        <br>
                        <div class="mb-3">
                            <label for="id_proof" class="form-label">ID Proof</label>
                            <input class="form-control" type="file" id="id_proof" name="idp">
                          </div>
                          <div class="mb-3">
                            <label for="authenticaton" class="form-label">Photo</label>
                            <input class="form-control" type="file" id="photo" name="photo">
                          </div>
                    </fieldset>
                </div>
                <br>
                <br>
                <div class="mb-3">
                    {{!<div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="omail">
                      </div>}}
                                            <div>
                        <div class="mb-3">
                            <label for="pass" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"name="pass">
                        </div>
                        <div class="mb-3">
                            <label for="cpass" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="cpass"name="cpass">
                        </div>
                        <p id="errorMessage" class="error" style="display: none;"></p>
                    </div>
                </div>
                <br><br>
                <button type="submit"  class="button">Register</button>
                </form>
            </div>
   </div>
   {{! <script>
    function validatePasswords() 
    { 
        const password = document.getElementById('password').value; 
        const confirmPassword = document.getElementById('confirmPassword').value; 
        const errorMessage = document.getElementById('errorMessage'); 
        if (password !== confirmPassword) 
            { 
                errorMessage.textContent = 'Passwords do not match'; 
                errorMessage.style.display = 'block';
                return false; 
                
            } 

    }
   </script> }}