
.left-pannel{
    width: 50%;
    height:100vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BFFFC3;
    position: sticky;
    top: 0;
}
.right-pannel{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AEFEB3;
    
}

img{
    width: 200px;
    width: 431px;
    height: 422px;
}
.box{
    display: flex;
}

.btn{
    margin-top: 10px;
    cursor: pointer ;
    
}

.contant{
    width: 50v;
}

